.clients-content.content
  .content-page
    h3 List of clients from 1984 to present:
    p University of California, Berkeley
    p King Hickory Furniture
    p Wadsworth Control Systems
    p Horizons Foundation
    p San Francisco Museum of Modern Art
    p Mills College Art Museum
    p San Francisco AIDS Foundation
    p Julie Dean Photography
    p San Francisco Arts Commission
    p Teleosis Institute
    p Museum of New Mexico Foundation
    p Rockwood Leadership Program
    p UCSF Center for AIDS Prevention Studies
    p Breast Cancer Fund
    p The Innovative Teacher Project
    p Mills College Alumni Association
    p Artwear in the Galleries
    p Consumers Union
    p Carousel Press
    p Heather and French Painting
    p Film Arts Foundation
    p University of California, Davis
    p Wolfe Video
    p Jane Coffins Memorial Fund
    p MS Society
