.contact-content.content
  .content-page
    img(src='/images/betsyjoyce.jpg', widht='100', height='100')
    p.
      Betsy Joyce design
      <br>
      6843 Moeser Lane
      <br>
      El Cerrito, CA 94530
      <br>
      510.528.0276
    p
      a(href='mailto:mail@betsyjoycedesign.com') mail@betsyjoycedesign.com
    p
      a.external(href='http://www.kate-joyce.com') Website photography by Kate Joyce
