doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Betsy Joyce design
    meta(name='description', content='Betsy Joyce design')
    meta(name='keywords', content='Betsy Joyce design portfolio')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='shortcut icon', type='image/x-icon' href='/images/favicon.png')
  body
    .container
      a.name(href='/') Be<span></span>t<span></span>sy<span></span>Joyce<em>design</em>
      nav!= partial('_nav')
    .image-content.content
    != partial('_contact')
    != partial('_clients')
    != partial('_home')
    script(src='/js/zepto-underscore-backbone.js')
    script(src='/js/betsyjoycedesign.js')
