ul.sections
  li
    a.annual-reports(href='/annual-reports/sfmoma-1995/1') Annual Reports
  li
    a.booklets(href='/booklets/ucsf/1') Booklets
  li
    a.art-catalogs(href='/art-catalogs/mills-jacques-schnier/1') Art Catalogs
  li
    a.brochures(href='/brochures/cnr/1') Brochures
  li
    a.invitations(href='/invitations/mills-college-art-museum/1') Invitations
  li
    a.newsletters(href='/newsletters/teleosis/1') Newsletters
  li
    a.advertisements(href='/advertisements/sfac/1') Advertisements
  li
    a.identity(href='/identity/traditions-made-modern/1') Identity
  li
    a.clients(href='/clients') Clients
  li
    a.contact(href='/contact') Contact

!= partial('/nav/_annual_reports')
!= partial('/nav/_booklets')
!= partial('/nav/_art_catalogs')
!= partial('/nav/_brochures')
!= partial('/nav/_invitations')
!= partial('/nav/_newsletters')
!= partial('/nav/_advertisements')
!= partial('/nav/_identity')
