ul.annual-reports-subnav.subnav
  li
    a(href='/annual-reports/sfmoma-1995/1') SFMOMA
    ul
      li
        a(href='/annual-reports/sfmoma-1995/1') 1995 Annual Report
        .pages
          a.page(href='/annual-reports/sfmoma-1995/1', data-page='1') 1
          a.page(href='/annual-reports/sfmoma-1995/2', data-page='2') 2
          a.page(href='/annual-reports/sfmoma-1995/3', data-page='3') 3
          a.page(href='/annual-reports/sfmoma-1995/4', data-page='4') 4
          a.page(href='/annual-reports/sfmoma-1995/5', data-page='5') 5
  li.subnav-parent
    a(href='/annual-reports/horizons-2004/1') Horizons Foundation
    ul
      li
        a(href='/annual-reports/horizons-2004/1') 2004 Annual Report
        .pages
          a.page(href='/annual-reports/horizons-2004/1', data-page='1') 1
          a.page(href='/annual-reports/horizons-2004/2', data-page='2') 2
          a.page(href='/annual-reports/horizons-2004/3', data-page='3') 3
    ul
      li
        a(href='/annual-reports/horizons-2006/1') 2006 Annual Report
        .pages
          a.page(href='/annual-reports/horizons-2006/1', data-page='1') 1
          a.page(href='/annual-reports/horizons-2006/2', data-page='2') 2
          a.page(href='/annual-reports/horizons-2006/3', data-page='3') 3
          a.page(href='/annual-reports/horizons-2006/4', data-page='4') 4
          a.page(href='/annual-reports/horizons-2006/5', data-page='5') 5
    ul
      li
        a(href='/annual-reports/horizons-2011/1') 2011 Annual Report
        .pages
          a.page(href='/annual-reports/horizons-2011/1', data-page='1') 1
          a.page(href='/annual-reports/horizons-2011/2', data-page='2') 2
