ul.booklets-subnav.subnav
  li
    a(href='/booklets/ucsf/1') UCSF Center for<br>AIDS Prevention Studies Bilingual Report
    ul
      li.pages
        a.page(href='/booklets/ucsf/1', data-page='1') 1
        a.page(href='/booklets/ucsf/2', data-page='2') 2
        a.page(href='/booklets/ucsf/3', data-page='3') 3
  li
    a(href='/booklets/tech-transfer/1') Tech Transfer Calendar and Guide to Services
    ul
      li.pages
        a.page(href='/booklets/tech-transfer/1', data-page='1') 1
        a.page(href='/booklets/tech-transfer/2', data-page='2') 2
  li
    a(href='/booklets/king-hickory/1') King Hickory Furniture
    ul
      li.pages
        a.page(href='/booklets/king-hickory/1', data-page='1') 1
        a.page(href='/booklets/king-hickory/2', data-page='2') 2
        a.page(href='/booklets/king-hickory/3', data-page='3') 3
        a.page(href='/booklets/king-hickory/4', data-page='4') 4
  li
    a(href='/booklets/tech-transfer-ac/1') Tech Transfer Aviation Conference
  li
    a(href='/booklets/wolfe-video/1') Wolfe Video Tips for Filmmakers
