ul.invitations-subnav.subnav
  li
    a(href='/invitations/mills-college-art-museum/1') Mills College Art Museum
    ul
      li.pages
        a.page(href='/invitations/mills-college-art-museum/1', data-page='1') 1
        a.page(href='/invitations/mills-college-art-museum/2', data-page='2') 2
        a.page(href='/invitations/mills-college-art-museum/3', data-page='3') 3
        a.page(href='/invitations/mills-college-art-museum/4', data-page='4') 4
  li
    a(href='/invitations/horizons-foundation/1') Horizons Foundation
    ul
      li.pages
        a.page(href='/invitations/horizons-foundation/1', data-page='1') 1
        a.page(href='/invitations/horizons-foundation/2', data-page='2') 2
  li
    a(href='/invitations/sfaf/1') San Francisco AIDS Foundation
  li
    a(href='/invitations/artwear/1') Artwear in the Galleries
  li
    a(href='/invitations/performance-printing/1') Performance Printing / Julie Dean Photography
  li
    a(href='/invitations/uc-davis-aviation-conference/1') UC Davis Aviation Conference
