ul.newsletters-subnav.subnav
  li
    a(href='/newsletters/teleosis/1') Teleosis
  li
    a(href='/newsletters/sfaf/1') San Francisco<br>AIDS Foundation
  li
    a(href='/newsletters/aia/1') AIA Resource Center
  li
    a(href='/newsletters/mcb/1') MCB Transcript<br>University of<br>California Berkeley
